<div class="form-group">
  {{#json-form/input-group isGroup=isGroup}}
    {{#if isNormalInput}}
      <label for="{{field.name}}" class="control-label">{{field.label}}</label>
      {{input name=field.name class="form-control" type=field.type value=(mut (get form field.name))}}
    {{else}}
      {{component fieldComponent form=form field=field onchange=(action (mut (get form field.name)))}}
    {{/if}}
  {{/json-form/input-group}}
  <p class="help-block">{{field.help}}</p>
  {{#if (v-get form field.name 'isValidating')}}
    <span class="text-info">validating...</span>
  {{/if}}
  {{#if (v-get form field.name 'isInvalid')}}
    {{#if (v-get form field.name 'isDirty')}}
        <span class="text-danger">
          {{v-get form field.name 'message'}}
        </span>
    {{/if}}
  {{/if}}
</div>