{{#if isGroup}}
<div class="input-group">
    <div class="input-group-addon">{{addon.prefix}}</div>
  {{yield}}
    <div class="input-group-addon">{{addon.suffix}}</div>
</div>
{{else}}
  {{yield}}
{{/if}}