<div class="form-group">
  <label for="{{field.name}}" class="control-label">{{field.label}}</label>
  {{#if isNormalInput}}
    <input name="{{field.name}}" class="form-control" type="{{field.type}}" value="{{field.value}}">
  {{/if}}
  {{component fieldComponent}}
    <p class="help-block">{{field.help}}</p>
  {{#if (v-get form field.name 'isInvalid')}}
    {{#if (v-get form field.name 'isDirty')}}
        <span class="text-danger">
          {{v-get form field.name 'message'}}
        </span>
    {{/if}}
  {{/if}}
</div>