<div id="{{textAreaElementId}}">
<textarea
  name={{field.name}}
  value={{value}}
  disabled={{disabled}}
  onchange={{action 'onChange' value="target.value"}}
  class={{classNames}}
  style={{style}}
  placeholder={{field.placeholder}}
  ...attributes
/>
</div>