<div class="checkbox">
  <label class="checkbox {{if disabled 'disabled' ''}}">
    <input type="checkbox"
           disabled={{if disabled 'true' false}}
           checked={{_value}}
           onclick={{action "onChange" value="target.checked"}} />
    {{field.label}}
  </label>
</div>